<!-- =========================
Vission Statement section
===========================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] pt-[100px]">
  <div class="main-container space-y-14 md:space-y-[70px]">
    <div class="space-y-3 text-center max-w-[780px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Lavoriamo con passione, costruiamo il futuro.</span
      >
      <h2 data-ns-animate data-delay="0.3">
         MSS GROUP innova ogni giorno nel mondo IT technology
      </h2>
      <p data-ns-animate data-delay="0.4">
         In un mondo digitale in rapida evoluzione, dal 2012 ci collochiamo in prima linea nell’innovazione nel mercato europeo, trasformando il modo in cui le aziende e le persone operano, si connettono e crescono
      </p>
    </div>

    