<!-- =========================
CTA section (EN)
===========================-->
<section
  id="legacy"
  class="py-[100px] md:py-[150px] bg-background-3 dark:bg-background-7"
  aria-label="Call to Action"
>
  <div class="max-w-[1440px] mx-auto">
    <div class="bg-white dark:bg-background-6 py-[76px] rounded-[30px] relative overflow-hidden">
      <figure class="absolute bottom-[-103px] left-[-120px] max-w-[230px] md:max-w-[300px] lg:max-w-[340px] xl:max-w-[386px] w-full select-none pointer-events-none" data-ns-animate data-delay="0.7" data-direction="left" data-offset="240" role="presentation">
        <img src="/images/gradient/gradient-15.png" class="size-full bg-cover" alt="Decorative background shape" loading="lazy" decoding="async" aria-hidden="true" />
      </figure>

      <div class="main-container">
        <div class="space-y-6">
          <div class="space-y-5 text-center">
            <span data-ns-animate data-delay="0.2" class="badge badge-primary-light">Software Legacy</span>
            <div class="space-y-3">
              <h2 data-ns-animate data-delay="0.3" id="cta-heading">Ready to evolve your legacy software?</h2>
              <p data-ns-animate data-delay="0.4" class="max-w-[558px] md:w-full mx-auto">We can maintain your legacy software and plan with you a smooth migration roadmap for architecture and technologies.</p>
            </div>
          </div>

          <div data-ns-animate data-delay="0.5" class="text-center cta-button">
            <a href="/faq-page.html#contact" class="btn btn-secondary hover:btn-white dark:btn-transparent dark:hover:btn-accent btn-lg xl:btn-xl">
              <span>Book a free consultation</span>
            </a>
          </div>
        </div>
      </div>

      <figure class="absolute top-[-152px] md:top-[-195px] right-[-104px] md:right-[-188px] max-w-[290px] md:max-w-[400px] lg:max-w-[450px] xl:max-w-[535px] w-full select-none pointer-events-none" data-ns-animate data-delay="0.7" data-direction="right" data-offset="240" role="presentation">
        <img src="/images/gradient/gradient-50.png" class="size-full bg-cover" alt="Decorative background shape" loading="lazy" decoding="async" aria-hidden="true" />
      </figure>
    </div>
  </div>
</section>


