<!-- =========================
Mega Menu V1
===========================-->
<div>
  <!-- Transparent bridge to prevent gap -->
  <div
    class="mega-menu-bridge py-6 fixed left-1/2 -translate-x-1/2 top-full w-full bg-transparent z-40 max-w-[1290px]"
  ></div>
  <div
    id="home-mega-menu"
    class="mega-menu fixed mt-2 left-1/2 -translate-x-1/2 top-full pointer-events-none transition-all duration-300 opacity-0 bg-white rounded-[20px] z-50 max-w-[1290px] w-full overflow-hidden dark:bg-background-6 shadow-1 border dark:border-background-5 border-stroke-4 {=$class}"
  >
    <div class="flex w-full relative">
      <div class="flex flex-col flex-1 gap-10 px-[60px] py-[70px]">
        <ul class="space-y-5">
          <li>
            <a
              href="./index.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Home - Add Development</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
